<h3>Constellation: <%= @constellation.name %><br></h3>

Symbol: <%= @constellation.symbol %><br>
Element: <%= @constellation.element %><br>
Ruling Planet: <%= @constellation.ruling_planet %><br>
Zodiac Quality: <%= @constellation.zodiac_quality %><br>
Start Date: <%= @constellation.start_date %><br>
End Date: <%= @constellation.end_date %><br>



<%= %>